<ion-view on-finish-render>
  <ion-header-bar class="bar-blue">
    <div class="buttons buttons-left header-item" ui-sref="team.detail()">
      <button class="button button-clear icon ion-ios-arrow-left">球队</button>
    </div>
    <h1 class="title" >相册</h1>
    <div class="buttons buttons-right header-item" on-touch="showOpt()" ng-if="teamInfo.priv>0">
      <button class="button button-clear icon" ng-bind="optName">编辑</button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header">
    <ion-refresher pulling-text="下拉可以刷新" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="shouldShowDelete">
      <ion-item class="item-avatar item-icon-right" ng-repeat="album in albums" type="item-text-wrap" ui-sref="team.album({album_id:album.id,album_name:album.title})">

        <ion-delete-button class="ion-minus-circled" on-touch="removeAlbum(album,$index)"></ion-delete-button>

        <img class="img-no-radius" ng-src="{{album.img|imgFilter:100:180:180:7}}">
        <h3 ui-sref="tab.albumDetail({album_id:album.id})">{{album.title}}</h3>
        <p ui-sref="tab.albumDetail({album_id:album.id})">
          <!--<span>1张</span>-->
          <span ng-bind="album.time*1000|date : 'yyyy-MM-dd'"></span>
        </p>
        <i class="icon ion-chevron-right icon-accessory" ng-click="showOpt(album)"></i>
        <ion-option-button class="button-positive" on-touch="showNameEdit(album)">编辑</ion-option-button>
        <ion-option-button class="button-assertive" on-touch="removeAlbum(album,$index)">删除</ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="10%" icon="ion-loading-c" ng-if="hasNextPage">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
