<ion-view on-finish-render>

  <ion-header-bar class="bar-blue">
    <div class="buttons buttons-left header-item" ui-sref="team.news">
      <button class="button button-clear icon ion-ios-arrow-left">新闻</button>
    </div>
    <h1 class="title" ng-bind="news.title">新闻详情</h1>
  </ion-header-bar>

  <ion-content class="has-header">
    <div class="wrap">
      <div class=" news_dtl">
        <figure class="che shouye">
          <h1 ng-bind="news.title"></h1>
        </figure>
        <article >
          <p ng-bind-html="news.content|trustHtml" ></p>
        </article>
      </div>
      <div class="wrap1">
        <img src="img/d_03.jpg">
      </div>
      <section class="wrap">
        <section class="shou_bu">
          <h1>赞助商</h1>
          <ul class="so_zan">
            <li ng-repeat="sponsor in sponsors">
              <a href="{{sponsor.href}}"><img ng-src="/{{sponsor.img}}"></a>
            </li>
            <div class="clear"></div>
          </ul>
        </section>
        <section class="wrap zan bottom_nav1">
          <section class="shou_bu shou_bu1 comments">
            <h1>交流区</h1>
            <dl ng-repeat="comment in comments">
              <dt><img ui-sref="member.info({member_id:comment.uid})" class="avatar_img-54" ng-src="{{comment.uavatar|imgFilter:200}}"></dt>
              <dd>
                <h2 ui-sref="member.info({member_id:comment.uid})">{{comment.uname}}<span ng-bind="comment.from_time"></span></h2>
                <p ng-bind="comment.topic"></p>
              </dd>
              <div class="clear"></div>
              <div class="zan_miao">
                <div class="left">
                  <p class="icon">
                    <a ng-class="{'zhan':true,'zhanz':comment.is_hit}" href="javascript:void (0);" ng-click="addCommentHit(comment)">
                      <b class="icon inn1"></b>
                      <em>(<span ng-bind="comment.hits"></span>)</em>
                    </a>
                  </p>
                </div>
                <div class="right icd" ng-click="preReplie(comment.id,comment.uname);"><span class="icon ic1 ion-ios-chatbubble-outline"></span>回复</div>
                <div class="clear"></div>
              </div>
              <div class="hui_content" ng-if="comment.nums">
                <dl ng-repeat="reply in comment.replys">
                  <dt><img ui-sref="member.info({member_id:reply.uid})" class="avatar_img" ng-src="{{reply.uavatar|imgFilter:200}}"></dt>
                  <dd>
                    <h2 ui-sref="member.info({member_id:reply.uid})">{{reply.uname}}<span>回复:{{comment.uname}}</span><span ng-bind="reply.form_time"></span></h2>
                    <p ng-bind="reply.content"></p>
                  </dd>
                  <div class="clear"></div>
                </dl>
              </div>
            </dl>
          </section>
        </section>
        <div class="bottom">
          <dl class="pin">
            <dt><input style="min-height: 36px; height: 36px;" class="button" readonly type="text" placeholder="我也来说两句" ng-click="preReplie();"></dt>
            <dd><button style="height: 36px;"><span class="icon ion-chatbubbles"></span>{{comments.length}}</button></dd>
            <div class="clear"></div>
          </dl>
        </div>
      </section>
    </div>

  </ion-content>
</ion-view>
