<ion-view on-finish-render>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar class="bar-blue">
        <div class="buttons buttons-left header-item"  ui-sref="tab.find()">
          <button class="button button-clear icon ion-ios-arrow-left"></button>
        </div>
        <h1 class="title">球队</h1>
        <div class="buttons buttons-right header-item" >
          <button class="button button-clear button-icon icon icon-caidan" menu-toggle="right"></button>
        </div>
      </ion-header-bar>

      <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input id="searchKey" type="search" placeholder="Search" ng-model="path.keyword" ng-change="inputChange()" autocorrect="off" >
        </label>
      </div>
      <ion-content class="has-header has-subheader">

        <ion-refresher pulling-text="下拉可以刷新" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
          <ion-item class="item-avatar item-icon-right" collection-repeat="team in teams" type="item-text-wrap">
            <img reset-img ng-src="{{team.avatar|imgFilter:100}} " ui-sref="team.detail({team_id:team.id})">
            <h3 ui-sref="team.detail({team_id:team.id})">{{team.name}}</h3>
            <p ui-sref="team.detail({team_id:team.id})">
              <span ng-bind="team.type"></span>
              <span class="pont">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <span ng-bind="team.num"></span>人
            </p>
            <i class="icon ion-chevron-down icon-accessory" ng-click="showOpt(team)"></i>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" spinner="dots"  ng-if="hasNextPage">
        </ion-infinite-scroll>
      </ion-content>
    </ion-side-menu-content>
    <ion-side-menu side="right">

      <header class="bar bar-header bar-stable">
        <div class="buttons buttons-left header-item" menu-toggle="right">
          <button class="button button-clear text_color_grey">取消</button>
        </div>
        <h1 class="title">筛选</h1>
        <div class="buttons buttons-right header-item" on-touch="createTeam()"  menu-close>
          <button class="button button-clear text_color_grey">新建</button>
        </div>
      </header>
      <ion-content class="has-header">
        <div class="item-divider-sm"></div>
        <div class="lists">
          <div class="item">
            <span style="float: left">项目</span>
            <div class="menu-tabs">
              <span ng-repeat="tab in tabs" on-touch="selectTab(tab)" ng-class="{'ion-android-done':tab.value==path.type,'active':tab.value==path.type}"  ng-bind="tab.lab"></span>
            </div>
          </div>
        </div>
        <div class="item-divider"></div>
        <div class="item btn-blue" menu-close on-touch="search()">搜索</div>
        <div class="search-create" on-touch="createTeam()" menu-close>
          ----------<span>我要创建球队</span>----------
        </div>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
