<style>
  .list_lh li{
    width: 100%;
    overflow: hidden;
  }
</style>
<ion-view on-finish-render>
  <ion-header-bar class="bar-blue">
    <div class="buttons buttons-left header-item"  ui-sref="vote.award({prize_id:prize_id})">
      <button class="button button-clear icon ion-ios-arrow-left"></button>
    </div>
    <h1 class="title" >有奖互动</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
      <div class="list_lh" style="height: 100%;">
        <ul>
          <li ng-repeat="log in logs" ng-click="showLog(log)">
            <P>
              <span ng-bind="log.pg_name"></span>&nbsp;&nbsp;
              <span ng-bind="log.time*1000|date : 'MM-dd HH:mm'"></span>
              <span style="float: right" ng-if="log.pg_id!=6">
                <i class="icon icon-jinggao" style="color: red;"></i>
                <span ng-if="log.log_data==null">填写收货地址</span>
                <span ng-if="log.log_data!=null">修改收货地址</span>
              </span>
            </P>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
