<div class="modal">
	<ion-header-bar class="bar-blue">
		<div class="buttons">
			<button  class="button button-clear" ng-click="createModal.hide()">取消</button>
		</div>
		<h1 class="title">创建活动</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="submitCreate()">确定</button>
		</div>
	</ion-header-bar>

	<ion-scroll class="has-header" style="display: inline;">
		<div class="list ">
			<label class="item item-input">
				<span class="input-label">活动名称</span>
				<input class="text_color_888" ng-model="createInfo.title" type="text" placeholder="为它起个响亮的标题吧">
			</label>
			<label class="item item-input item-icon-right" ng-if="!createInfo.is_team">
				<span class="input-label">活动分类</span>
				<input class="background-fff" on-touch="showTypePopup()" disabled type="text" ng-model="createInfo.typeName" placeholder="选择活动分类">
				<i class="icon ion-chevron-right icon-accessory" on-touch="showTypePopup()"></i>
			</label>
			<label class="item item-input">
				<span class="input-label">地点：</span>
				<input class=" text_color_888" ng-model="createInfo.address" type="text" placeholder="活动详情地点">
			</label>
			<label class="item item-input">
				<span class="input-label">人数：</span>
				<input class=" text_color_888" ng-model="createInfo.num" type="text" placeholder="活动人数">
			</label>
			<label class="item item-input">
				<span class="input-label">费用：</span>
				<input class=" text_color_888" ng-model="createInfo.fee" type="text" placeholder="活动费用">
			</label>
		</div>
		<div class="list ">

			<div class="item item-input item-icon-right">
				<span class="input-label">报名截止时间</span>
				<select class="common-select" ng-model="time.deadlineDay" ng-options="day.value as day.text for day in days"></select>
				<select class="common-select" ng-model="time.deadlineHours" ng-options="hour for hour in hours" ></select>
			</div>
			<div class="item item-input item-icon-right">
				<span class="input-label">活动时间</span>
				<select class="common-select" ng-model="time.openDay" ng-options="day.value as day.text for day in days"></select>
				<select class="common-select" ng-model="time.openHours" ng-options="hour for hour in hours" ></select>
			</div>
		</div>
		<div class="list ">
			<label class="item item-input item-stacked-label">
				<span class="input-label">活动详情</span>
				<textarea class="no-resize" rows="8" placeholder="来一段最能打动ta的话" ng-model="createInfo.description"></textarea>
			</label>
		</div>
	</ion-scroll>
</div>