
<div class="tabAdd-backdrop">
	<ion-modal-view class="tabAdd-bg">
		<div class="tabAdd">
			<ion-content scroll="false">
				<div class="row">
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-1"></div>
						</div>
						<div class="tabAdd-icon-text">活动</div>
					</div>
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-2"></div>
						</div>

						<div class="tabAdd-icon-text">话题</div>
					</div>
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-3"></div>
						</div>

						<div class="tabAdd-icon-text">约战</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-4"></div>
						</div>

						<div class="tabAdd-icon-text">赛事</div>
					</div>
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-5"></div>
						</div>

						<div class="tabAdd-icon-text">团队</div>
					</div>
					<div class="col">
						<div class="tabAdd-icon">
							<div class="tabAdd-icon-img-6"> </div>
						</div>

						<div class="tabAdd-icon-text"> </div>
					</div>
				</div>
				<div class="bottom-close">
					<div class="bottom-close-wrap" on-touch="editNameModal.hide();">
						<i class="iconfont icon-guanbi" ></i>
					</div>
				</div>
			</ion-content>
		</div>
	</ion-modal-view>
</div>