<ion-view view-title="发现">
  <ion-nav-bar class="bar-blue">
  </ion-nav-bar>
  <!--<div class="bar bar-subheader item-input-inset">-->
    <!--<label class="item-input-wrapper">-->
      <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
      <!--<input id="searchKey" type="search" placeholder="Search" ng-model="serchMacth" ng-change="inputChange()" ng-model="searchKey" autocorrect="off" >-->
    <!--</label>-->
  <!--</div>-->

  <ion-content class="has-header">
    <div class="list">
      <a href="http://m.letusport.com/match">
        <div class="item item-icon-right" >
          <div class="img-icon img-icon-match"></div>
          <span class="img-icon-span">赛事</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </a>
      <div class="item item-icon-right" ui-sref="teamList()">
        <div class="img-icon img-icon-team"></div>
        <span class="img-icon-span">团队</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right" ui-sref="inviteList()">
        <div class="img-icon img-icon-invite"></div>
        <span class="img-icon-span">约战</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right" ui-sref="activityList()">
        <div class="img-icon img-icon-activity"></div>
        <span class="img-icon-span">活动</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right margin-bottom-4" ui-sref="articleList()">
        <div class="img-icon img-icon-information"></div>
        <span class="img-icon-span">资讯</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right margin-bottom-4" ui-sref="voteList()">
        <div class="img-icon img-icon-award"></div>
        <span class="img-icon-span">有奖活动</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right margin-bottom-4" ui-sref="liveList()">
        <div class="img-icon img-icon-live"></div>
        <span class="img-icon-span">赛事直播</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>

</ion-view>
