<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>有奖互动</title>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/jquery.js"></script>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <div class="wrap">
        <P><img src="../images/banner_jbks.png"></P>
        <div class="jbkq_top_text dibu_xt">
            <h3 class="yjhd_bottom_biaoti">2015非专业最受欢迎的选手</h3>
            <p class="topiaosj">投票时间：2015-10-20~2015-10-30</p>
        </div>
        <div class="jbkq_top_text dibu_xt">
            <h3 class="yjhd_title">活动介绍</h3>
            <p class="huodong_js">2015非专业最受欢迎的选手2015非专业最受欢迎的选手2015非专业最受欢迎的选手2015非专业最受欢迎的选手2015非专业最受欢迎的选手</p>
            <div class="dibu1">
                <button>查看获奖名单</button>
            </div>
        </div>
        <div class="jbkq_top_text dibu_xt">
            <h3 class="yjhd_title">投票</h3>
            <div class="topiaodui_lb">

            <P class="topiao_img">
                <img src="../images/topiao_banner.png">
                <div class="topiao_banner_bottom">
                        2015非专业最受欢迎的选手
                </div>
            </P>
            <div class="dibu_pingl">
                <div class="zan_miao dianzhang_margin">
                    <div class="left sho_icon">
                        <p class="icon">
                            <a ng-class="{'zhan':true,'zhanz':comment.is_hit}" href="javascript:void (0);" ng-click="addCommentHit(comment)" class="zhan">
                                <b class="icon inn1"></b>
                                <em>(<span class="ng-binding">1</span>)</em>
                            </a>
                        </p>
                    </div>
                    <div class="right lapiao_k">
                        <button class="lapiao">拉票</button>
                        <div class="right_zan"><img src="../images/zan1.png" width="21" height="26"> </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            </div>
            <div class="topiaodui_lb">

                <P class="topiao_img">
                    <img src="../images/topiao_banner.png">
                <div class="topiao_banner_bottom">
                    2015非专业最受欢迎的选手
                </div>
                </P>
                <div class="dibu_pingl">
                    <div class="zan_miao dianzhang_margin">
                        <div class="left sho_icon">
                            <p class="icon">
                                <a ng-class="{'zhan':true,'zhanz':comment.is_hit}" href="javascript:void (0);" ng-click="addCommentHit(comment)" class="zhan">
                                    <b class="icon inn1"></b>
                                    <em>(<span class="ng-binding">1</span>)</em>
                                </a>
                            </p>
                        </div>
                        <div class="right lapiao_k">
                            <button class="lapiao">拉票</button>
                            <div class="right_zan"><img src="../images/zan1.png" width="21" height="26"> </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="topiaodui_lb">

                <P class="topiao_img">
                    <img src="../images/topiao_banner.png">
                <div class="topiao_banner_bottom">
                    2015非专业最受欢迎的选手
                </div>
                </P>
                <div class="dibu_pingl">
                    <div class="zan_miao dianzhang_margin">
                        <div class="left sho_icon">
                            <p class="icon">
                                <a ng-class="{'zhan':true,'zhanz':comment.is_hit}" href="javascript:void (0);" ng-click="addCommentHit(comment)" class="zhan">
                                    <b class="icon inn1"></b>
                                    <em>(<span class="ng-binding">1</span>)</em>
                                </a>
                            </p>
                        </div>
                        <div class="right lapiao_k">
                            <button class="lapiao">拉票</button>
                            <div class="right_zan"><img src="../images/zan1.png" width="21" height="26"> </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jbkq_top_text dibu_xt">
            <h3 class="yjhd_title">赞助商</h3>
            <ul class="zanzhushang_icon">
                <li><img src="../images/zanzhushang_iocn.png"> </li>
                <li><img src="../images/zanzhushang_iocn.png"> </li>
                <li><img src="../images/zanzhushang_iocn.png"> </li>
            </ul>
        </div>
</body>
</html>