<ion-view on-finish-render>
  <ion-header-bar class="bar-blue">
    <div class="buttons buttons-left header-item" ui-sref="tab.user()">
      <button class="button button-clear icon ion-ios-arrow-left"></button>
    </div>
    <div class="tab2">
      <span class="col col-center" ng-class="{'tab_active':!tab2}" on-touch="tab2=false">
        关注的人
      </span>
      <span class="col col-center" ng-class="{'tab_active':tab2}" on-touch="tab2=true">
        关注的球队
      </span>
    </div>
    <h1 class="title tab-title"> </h1>
  </ion-header-bar>

  <ion-content class="has-header" ng-show="!tab2">

    <ion-refresher pulling-text="下拉可以刷新" on-refresh="doUserAttentionsRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="attention in userAttentions" type="item-text-wrap" >
        <img ng-src="{{attention.user.avatar|imgFilter:200}}" ui-sref="member.info({member_id:attention.baid})">
        <h3 ui-sref="member.info({member_id:attention.baid})">{{attention.user.real_name}}</h3>
        <p ui-sref="member.info({member_id:attention.baid})">
          <span ng-if="attention.user.sex==1">男</span>
          <span ng-if="attention.user.sex==2">女</span>
          <span ng-if="attention.user.sex==0">保密</span>
          <span class="pont" ng-if="attention.user.age">&nbsp;&nbsp;|&nbsp;&nbsp;
            <span ng-bind="attention.user.age" >
              <span>岁</span>
            </span>
          </span>
        </p>
        <i class="icon text_color_blue_icon" ng-class="{'icon-hxguanzhu':attention.each_attention&&!attention.guanzhu,'icon-jiaguanzhu':attention.guanzhu,'icon-yiguanzhu':!attention.each_attention&&!attention.guanzhu}" ng-click="optAttention(attention,1);"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadUserAttentions()" distance="10%" icon="ion-loading-c" ng-if="userHasNextPage">
    </ion-infinite-scroll>
  </ion-content>

  <ion-content class="has-header" ng-show="tab2">

    <ion-refresher pulling-text="下拉可以刷新" on-refresh="doTeamAttentionsRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="attention in teamAttentions" type="item-text-wrap" >
        <img reset-img ng-src="{{attention.team.avatar|imgFilter:100}} " ui-sref="team.detail({team_id:attention.team.id})">
        <h3 ui-sref="team.detail({team_id:attention.team.id})">{{attention.team.name}}</h3>
        <p ui-sref="team.detail({team_id:attention.team.id})">
          <span ng-bind="attention.team.type"></span>
          <span class="pont">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span ng-bind="attention.team.num"></span>人
        </p>
        <i class="icon text_color_blue_icon" ng-class="{'icon-jiaguanzhu':attention.guanzhu,'icon-yiguanzhu':!attention.guanzhu}" ng-click="optAttention(attention,2);"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadTeamAttentions()" distance="10%" icon="ion-loading-c" ng-if="teamHasNextPage">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
