<ion-view on-finish-render>
  <ion-header-bar class="bar-blue">
    <div class="buttons buttons-left header-item" ui-sref="tab.user()">
      <button class="button button-clear icon ion-ios-arrow-left"></button>
    </div>
    <h1 class="title">动态</h1>
    <div class="buttons buttons-right header-item" on-touch="showPublishDynamicModal();">
      <button class="button button-clear button-icon ion-ios-plus-outline"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" >
    <ion-refresher pulling-text="下拉可以刷新" on-refresh="doDynamicRefresh()">
    </ion-refresher>
    <ion-list>
      <div class="list home">
        <div ng-repeat="dynamic in dynamics">
          <div class="item margin-top-10 padding_rf_5">
            <div class="item-avatar-left no-min-height">
              <img ng-src="{{dynamic.avatar|imgFilter:100}}">
              <h2 ng-bind="dynamic.name" ></h2>
              <span class="text_color_grey_12" am-time-ago="dynamic.time*1000"></span>
              <span class="text_color_green_12" ng-click="delAttentionDynamic(dynamic,$index)" ng-if="dynamic.is_priv">删除</span>
            </div>
            <div class="row" >
              <p class="home_dynamic" jump-params="{id:{{dynamic.log_id}}}" jump-url="home.dynamic" ng-bind-html="dynamic.title|trustHtml"></p>
            </div>
            <div class="row no-padding" ng-repeat="imgs in dynamic.imgs" ng-if="dynamic.imgs.length==1">
              <div class="col icon_img sns-img" ng-repeat="img in imgs" ng-click="show(img,dynamic.imgs)">
                <img ng-src="{{img|imgFilter:300:180:180:7}}" >
              </div>
            </div>
            <div class="row no-padding" ng-repeat="imgs in dynamic.imgs" ng-if="dynamic.imgs.length!=1&&$index<3" >
              <div class="col col-33 icon_img sns-img" ng-repeat="img in imgs" ng-click="show(img,dynamic.imgs)">
                <img ng-src="{{img|imgFilter:300:120:120:6}}" >
              </div>
            </div>
          </div>
          <div class="row home-tool-bar">
            <div class="col">
              <i class="icon icon-attention icon_color"></i>
              <span  ng-bind="dynamic.views"></span>
            </div>
            <div class="col" ui-sref="home.dynamic({id:dynamic.log_id})">
              <i class="icon icon-pinglun icon_color"></i>
              <span ng-bind="dynamic.comments"></span>
            </div>
            <div class="col" ng-click="hitDynamic(dynamic)">
              <i class="icon icon-zan icon_color" ng-class="{'icon-zand':dynamic.is_hit,'text_color_blue_icon':dynamic.is_hit}"></i>
              <span ng-bind="dynamic.hits"></span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreDynamics()" distance="10%" icon="ion-loading-c" ng-if="hasNextPage">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
